.match-score-header { 
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  height: 100%;

  .match-score-header__label { 
    padding: .25rem .5rem;
    width: fit-content;
    
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-family: var(--ff-title);
    border-radius: var(--brad-lg);
    background: linear-gradient(to left, var(--clr-accent-primary) 0%, var(--clr-accent-shadow) 100%);
  }

  .match-score-header__title { 
    font-size: var(--fs-xl);
    font-family: var(--ff-title);
    font-weight: 600;

    color: var(--clr-text-title);
  }
}