.form {
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--header-height));
  background-color: var(--clr-bg-page);
}

.form__body {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--spc-2xl);
  padding: var(--spc-xl);
  align-items: center;
  justify-content: center;
}

.form__group {
  display: flex;
  gap: var(--spc-3xl);
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.form__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spc-md);

  height: var(--header-height);
  padding: 0 var(--spc-xl);

  box-shadow: 0 -4px 12px hsl(220, 20%, 20%, 0.06);
  border-top: var(--bord-thin) solid var(--clr-border-subtle);
  background-color: var(--clr-bg-surface);
}
