.coin-toss-modal {
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -35%);

  padding: 2rem 1rem;
  width: 80%;
  height: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-shadow: var(--neu-deep);
  border-radius: var(--brad-lg);
  background-color: var(--clr-surface-raised);

  .coin-toss-modal__title {
    text-align: center;

    color: var(--clr-text-title);
    font-family: var(--ff-title);
    font-size: var(--fs-lg);
    margin-bottom: 1rem;

    .coin-toss-modal__title--subtitle {
      font-size: var(--fs-sm);
      font-weight: normal;
      margin-left: .5rem;
    }
  }

  .coin-toss-modal__winner {
    font-size: var(--fs-xl);
    font-weight: bold;

    width: 75%;
    height: 5rem;
    margin: 1rem auto;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: var(--neu-inset);
    border-radius: var(--brad-base);
    background-color: var(--clr-surface);
  }

  .coin-toss-modal__choice {
    text-align: center;
    font-size: var(--fs-md);
    
    width: 75%;
    height: 4rem;
    margin: 1rem auto 0 auto;

    p { 
      color: var(--clr-text-title);
    }

    .coin-toss-modal__buttons { 
      display: flex;
      justify-content: space-between;

      margin: .25rem 0 0 0;

      button { 
        width: 45%;
        height: 2.5rem;

        border: none;
        border-radius: var(--brad-base);
        color: white;
        background: linear-gradient(to left, var(--clr-accent-primary) 0%, var(--clr-accent-shadow) 100%);

        &:hover { 
          box-shadow: var(--neu-deep);
          cursor: pointer;
        }
      }
    }
  }
}