.button { 
  color: rgb(var(--clr-font));

  padding: 0.5rem 1.25rem;

  border-radius: var(--border-radius);
  border: rgb(var(--clr-accent)) 2px solid;
  background: linear-gradient(to left top, rgb(var(--clr-accent)) 50%, rgb(var(--clr-accent-darker)) 100%);

  svg { 
    width: 1.5rem;
    height: 1.5rem;
  }

  &.button--secondary { 
    color: rgb(var(--clr-accent));

    border: rgb(var(--clr-accent)) 2px solid;
    background: transparent;
  }

  &.button--disabled { 
    color: rgb(var(--clr-font-subtle));

    border: rgb(var(--clr-font-subtle)) 2px solid;
    background: transparent;
  }
}