.header { 
  width: 100%;
  height: var(--header-footer-height);
  padding: .5rem 0;

  text-align: center;

  background-color: rgb(var(--clr-bg-darker));

  .header__title { 
    display: flex;
      align-items: center;
      justify-self: center;
      gap: .5rem;

    color: rgb(var(--clr-font));
    font-size: 1.75rem;

    .header__span { 
      color: rgb(var(--clr-font-subtle));
      font-size: 1.25rem;
    }
  }
}