:root {
  --circle-size: 1.5rem;
  --toggler-width: 4.5rem;
  --toggler-padding: .125rem;
}

.toggler {
  width: var(--toggler-width);
  height: 2rem;
  padding: 0 var(--toggler-padding);

  border: 2px solid rgb(183, 0, 0);
  border-radius: 1.5rem;

  display: flex;
  align-items: center;

  position: relative;

  .toggler__checkbox {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;

    opacity: 0;

    z-index: 5;

    &:hover {
      cursor: pointer;
    }

    &:checked+.toggler__circle {
      transform: translateX(calc(var(--toggler-width) - var(--circle-size) - var(--toggler-padding)));
      transition: transform .3s ease-in-out;
    }
  }

  .toggler__circle {
    width: var(--circle-size);
    height: var(--circle-size);
    border-radius: 50%;

    background-color: rgb(183, 0, 0);

    box-shadow: inset 6px -6px 6px rgba(0, 0, 0, 0.25);

    position: relative;
    transition: transform .3s ease-in-out;

    &:after {
      content: '';

      position: absolute;
      top: .1rem;
      left: .75rem;

      width: .5rem;
      height: .6rem;
      border-radius: 75% 25% 75% 25% / 46% 60% 40% 54%;
      background-color: white;
      opacity: 1;
      filter: blur(.070rem);

      z-index: 5;
    }
  }
}