.game-menu {
  position: relative;
}

.game-menu__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
}

.game-menu__dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 100;
}
