/*
  Artevelde hogeschool CSS Reset v0.2
  Adapted version from Josh's Custom CSS Reset https://www.joshwcomeau.com/css/custom-css-reset/
*/

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  min-height: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}


:root { 
  --clr-bg: 220, 228, 225;
    --clr-bg-darker: 195, 208, 204;
    --clr-bg-darkest: 170, 187, 183;
    --clr-bg-lighter: 238, 243, 242;
    --clr-bg-lightest: 247, 250, 250;
    
    --clr-font: 10, 20, 25;
    --clr-font-subtle: 113, 125, 130;
    
    --clr-accent: 63, 174, 104;
    --clr-accent-darker: 43, 106, 74;
    --clr-accent-darkest: 38, 92, 68;
    --clr-accent-lighter: 167, 235, 199;
    --clr-accent-lightest: 214, 247, 234;
    
    --clr-ball: 255, 0, 0;
      --clr-ball-yellow: 255, 255, 0;
      --clr-ball-green: 0, 128, 0;
      --clr-ball-brown: 165, 42, 42;
      --clr-ball-blue: 0, 0, 255;
      --clr-ball-pink: 255, 192, 203;
      --clr-ball-black: 0, 0, 0;
      --clr-ball-white: 255, 255, 255;
      --clr-ball-shadow: 50, 50, 50;
  
  --ball-size: 1.5rem;
  --border-radius: 10px;
  --header-height: 64px;

  .dark { 
    --clr-bg: 19, 38, 47;
      --clr-bg-darker: 14, 28, 35;
      --clr-bg-darkest: 10, 20, 25;
      --clr-bg-lighter: 66, 81, 89;
      --clr-bg-lightest: 113, 125, 130;

    --clr-font: 255, 255, 255;
      --clr-font-subtle: 113, 125, 130;

    --clr-accent: 215, 38, 56;
      --clr-accent-darker: 171, 31, 45;
      --clr-accent-darkest: 119, 24, 35;
      --clr-accent-lighter: 232, 86, 99;
      --clr-accent-lightest: 244, 138, 148;
  }
}

body { 
  height: 100svh;
  width: 100svw;
  height: 100dvh;
  width: 100dvw;

  #root { 
    height: 100%;

    display: grid;
      grid-template-rows: var(--header-height) 1fr;
  }

  background-color: rgb(var(--clr-bg));
}

.form { 
  position: relative;

  display: grid;
    grid-template-rows: 1fr var(--header-height);

  height: 100%;

  .form__body { 
    display: grid;
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
      align-items: center;

      .form__group { 
        display: flex;
          justify-content: space-between;
        width: 16rem;
        height: 7rem;

        margin: 0 auto;
      }
  }

  .form__footer { 
    display: flex;
      align-items: center;
      justify-content: space-between;

    padding: 0 12.5%;

    background-color: rgb(var(--clr-bg-darker), 0.5);
  }
}

.tile { 
  box-sizing: border-box;

  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

  width: 7rem;
  height: 100%;

  border-radius: var(--border-radius);
  border: rgb(var(--clr-bg-lightest)) 2px solid;
  background: linear-gradient(to left top, rgb(var(--clr-bg-lighter)) 50%, rgb(var(--clr-bg-lightest)) 100%);

  &.tile--input { 
    width: 100%;
  }
}