.balls { 
  box-sizing: border-box;

  align-content: center;

  width: 16rem;
  height: 8rem;
  margin: 0 auto;

  border-radius: var(--border-radius);
  border: rgb(var(--clr-bg-lightest)) 2px solid;
  background: linear-gradient(to left top, rgb(var(--clr-bg-lighter)) 50%, rgb(var(--clr-bg-lightest)) 100%);

  .balls__ball {
    width: var(--ball-size);
    height: var(--ball-size);

    border-radius: 50%;
    box-shadow: inset 0 -5px 5px rgba(var(--clr-ball-shadow), 0.8);
    background-color: rgb(var(--clr-font-subtle));
  }
}