.balls {
  --ball-size: 24px;
}

.balls__row {
  display: flex;
  justify-content: center;
}

.balls__ball {
  width: var(--ball-size);
  height: var(--ball-size);
  
  transition: all 0.3s ease;

  box-shadow: inset -12px -3px 5px rgba(0, 0, 0, 0.2);
  border-radius: var(--brad-round);
  background-color: var(--clr-accent-primary);
}