.progress-indicator {
  color: white;
  border-radius: var(--brad-base);

  width: fit-content;
  padding: .25rem .5rem;
  font-size: var(--fs-xs);


  background: linear-gradient(to left bottom, var(--clr-accent-shadow) 0%, var(--clr-accent-primary) 100%);
}